.border {
  padding: 50px 50px 10vh;
  height: 100vh;
}

.block {
  height: 100%;
  box-shadow: 0px 5px 10px rgb(118, 205, 245);
  border-radius: 10%;
}

/* .block{
  background-image: url("../image/anime.jpg" ), linear-gradient(190deg,rgb(141, 11, 109),rgb(140, 70, 219));
  background-repeat: no-repeat;
  background-position: 50% 50%;
} */

.block{
  background:url("../image/anime.jpg" ) no-repeat 50% 50%, linear-gradient(190deg,rgb(141, 11, 109),rgb(140, 70, 219));
}